-#  This file is app/views/movies/find_same_director.html.haml
%h1 Similar Movies page for "#{@movie.title}"

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Director
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.director
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to "Back to #{@movie.title} details page", movie_path(@movie)
